/* APP COMPONENTS */

// BTN COMPONENT
.btn {
  display: block;
  width: 50%;
  padding: 1.1rem 3rem;
  font-weight: 600;
  box-shadow: 0px 8px 10px rgba(149, 157, 180, 0.25);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  @include tablet {
    width: 25%;
  }

  @include desktop {
    width: auto;
  }

  &--primary {
    background-color: $btn-primary;
    color: #fff;

    &:hover {
      background-color: $btn-secondary;
    }
  }

  &--primary-circle {
    height: 6rem;
    width: 6rem;
    padding: 0;
    font-size: 2rem;
    background-color: $btn-primary;
    color: #fff;
    border-radius: 50%;

    &:hover {
      background-color: $btn-secondary;
    }

    @include tablet {
      height: 7rem;
      width: 7rem;
      font-size: 2.5rem;
    }

    @include desktop {
      height: 6.5rem;
      width: 6.5rem;
    }
  }
}

// PROGRESS BAR
.progress-bar {
  display: block;
  width: 100%;
}

// SEARCH FORM
.search-form {
  margin-top: 3rem;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -3rem;
    left: 0px;
    transform: translateX(10%);
    width: 80%;
    height: 3px;
    background-color: $primary-color;
    border-radius: 5px;
  }
}

.input-text {
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 1rem;
  box-shadow: 0px 8px 10px rgba(149, 157, 180, 0.25);
}

// CHECKBOX
.checkbox {
  position: absolute;
  opacity: 0;

  &--custom {
    position: relative;
    bottom: -0.15rem;
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    margin-right: 1rem;
    border: 2px solid $primary-color;
    border-radius: 50%;
    transition: transform 300ms ease-in-out;
    cursor: pointer;
  }
}

.checkbox:checked + label .checkbox--custom {
  background: $primary-color;
  border-color: $primary-color;
  box-shadow: inset 0 0 0px 2px white;
}

// TO DO LIST COMPONENT: LIST, ITEMS, PRIORITY STATUS, DELETE BUTTON
.todo-list {
  position: relative;
  max-height: 30rem;
  margin-top: 7rem;
  padding: 0 0.3rem 3rem 0.3rem;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;

  //TO DO LIST LIST AREA - SCROLL
  @include tablet {
    max-height: 62rem;
  }

  @include desktop {
    max-height: 20rem;
  }

  @include big-desktop {
    max-height: 28rem;
  }

  @include very-big-desktop {
    max-height: 40rem;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0px 8px 10px rgba(149, 157, 180, 0.25);
    transition: border 500ms ease-in-out;

    @include tablet {
      padding: 1.2rem 2rem;
      margin-bottom: 1rem;
    }

    @include desktop {
      padding: 0.9rem 2rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      border: 1px solid $primary-color;
    }

    &.is-complete {
      filter: brightness(0.9);
      & .checkbox:checked + label {
        color: #797979;
      }
    }
  }

  &__item-name {
    margin-left: 1rem;
    cursor: pointer;

    @include tablet {
      font-size: 1.8rem;
    }

    @include desktop {
      font-size: 1.6rem;
    }
  }

  &__item-priority {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #fff;
    border-radius: 50%;

    @include tablet {
      width: 2.3rem;
      height: 2.3rem;
      line-height: 2.3rem;
      font-size: 1.3rem;
    }

    &--low {
      background-color: #fcc419;
    }
    &--medium {
      background-color: $secondary-color-lighter;
    }
    &--high {
      background-color: $secondary-color;
    }
  }

  &__item-delete-btn {
    margin-left: auto;
    font-size: 2.5rem;
    color: $secondary-color;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.over {
  border: 1px dashed $secondary-color;
}

.dragged {
  opacity: 0.5;
}

// MODAL - ADD TASK
.modal {
  position: fixed;
  opacity: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  z-index: -1;
  transition: all 0.2s ease-in-out;

  @media (max-width: 1199px) {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    padding-top: 6rem;
    background-color: $background-color;
    transform: translateX(-120%);
    transition: transform 0.3s;
  }
  //Desktop modal version
  @include desktop {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 4rem;
    background-color: $background-color;
  }

  &__content {
    margin-top: 6rem;
  }

  &__subheading {
    margin-bottom: 2rem;
    font-size: 1.8rem;

    @include tablet {
      font-size: 2.2rem;
    }
  }

  &__actions {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
  }

  &__close {
    display: inline-block;
    margin-left: auto;
    font-size: 4rem;
    color: $primary-color;
    background: none;
    border: none;
    cursor: pointer;

    @include tablet {
      font-size: 5rem;
    }
  }
}

.modal.visible {
  opacity: 1;
  z-index: 100;

  @media (max-width: 1199px) {
    transform: translateX(0%);
  }
}

.app-wrapper.backdrop::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.26);
  backdrop-filter: blur(2px);
}

// RADIO SELECT INPUT
.radio-select {
  margin-top: 5rem;

  &__item {
    margin-bottom: 0.9rem;
  }

  &__label {
    margin-left: 0.5rem;

    @include tablet {
      font-size: 1.8rem;
    }
  }

  &__input {
    position: absolute;
    opacity: 0;

    &--custom {
      display: inline-block;
      position: relative;
      bottom: -0.15rem;
      width: 1.6rem;
      height: 1.6rem;
      margin-right: 1rem;
      border: 2px solid $primary-color;
      border-radius: 50%;
      transition: transform 300ms ease-in-out;
      cursor: pointer;
    }
  }
}

.radio-select__input:checked + label .radio-select__input--custom {
  background: $primary-color;
  border-color: $primary-color;
  box-shadow: inset 0 0 0px 2px white;
}

// OPEN MODAL BOTTOM BUTTON

#add-open-modal {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);

  @include tablet {
    bottom: 7rem;
  }

  @include desktop {
    bottom: 6rem;
  }

  @include big-desktop {
    bottom: 9rem;
  }
}
