@import './base';
@import './layout';
@import './components';

.app-wrapper {
  margin: 50px 0;
  height: 100vh;
  overflow: hidden;
}

.app-header {
  margin-top: 2rem;

  &__title {
    display: inline-block;
    font-size: 3.6rem;
    font-weight: 800;
  }

  &__icon {
    font-size: 5rem;
    color: $primary-color;
  }

  &__info {
    margin-top: 3rem;
  }

  &__complete-status {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

.todo-list {
  position: relative;
  margin-top: 4rem;
  padding-top: 4rem;
  list-style: none;

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: #fff;
    transform: scale(1);
    box-shadow: 0px 8px 10px rgba(149, 157, 180, 0.25);
    transition: all 500ms ease-in-out;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      transform: scale(1.01);
    }

    &.is-complete {
      background-color: $completed-task;
      filter: brightness(0.95);
      label::after {
        content: '';
        position: absolute;
        width: 65%;
        left: 5.5rem;
        top: 50%;
        transform: translateY(50%);
        height: 0.2rem;
        background: #9b9b9b;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 150ms ease-in-out;
      }

      & .checkbox:checked + label::after {
        transform: scaleX(1);
        transform-origin: left;
      }

      & .checkbox:checked + label {
        color: #868686;
      }
    }
  }

  &__item-name {
    margin-left: 1rem;
  }

  &__item-priority {
    display: inline-block;
    margin-left: 1rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #fff;
    border-radius: 50%;
    &--low {
      background-color: #fcc419;
    }
    &--medium {
      background-color: $secondary-color-lighter;
    }
    &--high {
      background-color: $secondary-color;
    }
  }

  &__item-delete-btn {
    margin-left: auto;
    font-size: 2.5rem;
    color: $secondary-color;
    background: none;
    border: none;
    cursor: pointer;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 3px;
    background-color: $primary-color;
    border-radius: 5px;
  }
}

#add-open-modal {
  position: absolute;
  bottom: 10rem;
  left: 50%;
  transform: translateX(-50%);
}
